#header {
  background-color: aqua;
}

#ContenedorBanner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}
#BannerCTA {
  background-color: bisque;
  width: 100%;
  height: 20%;
}

.card-wrapper{
    display: flex;
}

.card{
    margin: 1%;
    width: calc(100%/3);
}

#videoembed {
  width: 100%;
  height: 50%;
}

#footer {
  background-color: blue;
  display: flex;
  flex-direction: row;
}

#contactus {
  background-color: aqua;
}
