.tittlesH1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30pt;
  font-weight: 800;
  color: rgb(30, 30, 30);
  text-align: center;
}

.text {
  color: rgb(30, 30, 30);
  text-align: left;
  font-size: 15pt;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}


#header {
  width: 100%;
  position: fixed;
  display: flex;
  margin-bottom: 10px;

  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}


.buttonBuyAndSearchHeader {
  display: flex;
  position: absolute;
  margin-right: 30px;
  right: 0;
  gap: 20px;
}

#logoButton {
  width: 100%;
}


.primary-button {
  padding: 10px 24px;
  color: rgb(0, 0, 0);
  background-color: #1dd800;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  Justify-content: center;
}

.primary-button:hover {
  background-color: rgb(0, 133, 47);
  color: white;
}

#BannerIntroduction {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

#button-introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

#BannerHistory {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

#branch_presentation {
  margin: 0;
  height: 100%;
}

#branch_presentation img {
  height: 100%;
}

.text{
  padding: 150px;
  text-align: start;
}


#button-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.acordeonSection {
  width: 100%;
  padding-top: 100px;
}

.ulAcordeon {
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

.liAcordeon {
  position: relative;
  float: left;
  width: 16%;
}

.liAcordeon:hover {
  width: 50%;
}

.linkAcordeon {
  height: 100px;
}

.acordeonTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 40pt;
  font-weight: 900;
  color: rgb(255, 255, 255);

  position: absolute;
  bottom: 2%;
  margin-right: 100px;
}


#ContenedorBanner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

#BannerCTA {
  background-color: bisque;
  width: 100%;
  height: 20%;
}

.card-wrapper {
  display: flex;
}

.card {
  margin: 1%;
  width: calc(100%/3);
}

#videoembed {
  width: 100%;
  height: 1080px;
}

#footer {
  background-color: blue;
  display: flex;
  flex-direction: row;
}

#contactus {
  background-color: aqua;
}